</br></br>
<h2>いいね一覧</h2>
</br></br>
<div class="card-container" id="like_posts">
  <%= render "public/posts/like_posts", like_posts: @like_posts, user: @user %>
</div>



<%= paginate @like_posts %>
