<div class="form-group">
   <label for="newcomment">ã‚³ãƒ¡ãƒ³ãƒˆðŸ’­</label>



 <%= form_with(model:[post, comment],local: false) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "ã‚³ãƒ¡ãƒ³ãƒˆã‚’ã“ã“ã«",class:"form-control" %>
  <%= f.submit "é€ä¿¡ã™ã‚‹" %>
 <% end %>
</div>
