<div class="form-group">
   <h2>コメント</h2>
   <p><i class="fas fa-exclamation-triangle"></i>以下の内容はお控えください</p>
   <ul>
     <li>生体の販売＆譲渡に関する内容</li>
     <li>誹謗中傷＆公序良俗の反する内容</li>
     <li>金銭に関する内容</li>
  



 <%= form_with(model:[post, comment],local: false) do |f| %>
   <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに",class:"form-control" %>
  <%= f.submit "送信する" %>
 <% end %>
</div>
