コメント一覧

<div>
  
  <% post.comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image, style: "width: 30px; height: 30px; border-radius: 50%" %></p>
    <%= post_comment.user.handlename %></br>
    <%= post_comment.comment %></br>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %>
  <% end %>
</div>
