# 会員Top
ペットのコミュニティサイト

<div class="col-10">
   <%#div class="card" style="max-width: 600px;">
    <%#img src="pf_top.jpg" alt="トップ画像"#%>
     <div class="card-img-overlay col">
       <p class="text-white text-white d-flex align-items-center justify-content-center" style="height:250px;">
        ようこそ、みんなのペットコミュニティMiteneへ！</p>
        
     </div>
    </div>
   </div>