@import '~bootstrap/scss/bootstrap';



.card-width{
   width: 300px;
   height: 200px;
   img{
    width: 100%;
    object-fit: cover;
    height: 100%;
   }
 }
 
 .card-body-width{
   width: 300px;
   height: 100px;
 }
 
 .card{
  width: 300px;
  height: 350px;
 }
 
 .card-container{
  display: flex;
  flex-wrap: wrap;
 }