<footer class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="container align-items-end ">
    <div class="mx-auto p-4">
       © 2023 RisaTsunematsu
    </div>
  </div>
</footer>

 